./merge_alternately
./kwc
./flowers
./rmdup
./max_sum
./disks
./linecount
./pointers
./lcp
./mmix
./fu
./.git/hooks/commit-msg.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-commit.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-push.sample
./.git/hooks/update.sample
./.git/hooks/push-to-checkout.sample
./merge_words
./nuniq
./mem
./ar
./countl
./days
./disks
./fb
./flip_and_invert
./flowers
./fu
./hwyim
./kit
./kwc
./lc
./lcp
./linecount
./linecount2
./m2
./m2_2
./max_sum
./med
./mem
./merge_alternately
./merge_words
./mmix
./needle_haystack
./newshit
./nuniq
./pointers
./pointers_practice
./primes_to_n
./r
./r2
./r3
./r4
./r6
./rev_palindrome_ck
./reverse
./revstr
./rl
./rl10
./rl11
./rl2
./rl3
./rll
./rll1
./rll10
./rll12
./rll2
./rll3
./rll4
./rll5
./rll6
./rll7
./rll8
./rll9
./rmdup
./rs
./rs2
./rs3
./rs4
./rs5
./sdl_circle
./sedgewick_ll
./shs
./sort
./sort2
./ss
./ssc
./sum_elements
./two_sum
